services:
  pg_tutorial:
    container_name: pg_tutorial
    image: "postgres:latest"    # Nên có phiên bản và chỉnh volumes cho phù hợp
    environment:
      POSTGRES_USER: "user"
      POSTGRES_PASSWORD: "123abc"
    ports:
      - "5432:5432"
    volumes: # dung volume de khong mat du lieu
      - "postgres_data:/var/lib/postgresql/data"
    networks:
      - postgres

  pdadmin_tutorial:
    container_name: pdadmin_tutorial
    image: "dpage/pgadmin4:latest" # Nên có phiên bản và chỉnh volumes cho phù hợp
    environment:
      PGADMIN_DEFAULT_EMAIL: "abc@example.com"
      PGADMIN_DEFAULT_PASSWORD: "123"
    ports:
      - "5050:80"
    networks:
      - postgres
    depends_on: # cho host khoi tao truoc roi moi tao trang login mail + pass
      - pg_tutorial

  zookeeper:
    image: confluentinc/cp-zookeeper:7.7.7
    container_name: zookeeper
    hostname: zookeeper
    ports:
      - "22181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    volumes:
      - zookeeper-data:/var/lib/zookeeper/data
      - zookeeper-logs:/var/lib/zookeeper/log

  kafka:
    image: confluentinc/cp-kafka:7.7.7
    container_name: kafka
    hostname: kafka
    depends_on:
      - zookeeper
    ports:
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
    volumes:
      - kafka-data:/var/lib/kafka/data

volumes:
  postgres_data:
  zookeeper-data:
  zookeeper-logs:
  kafka-data:

networks: # do goi depend on bang ten nen tao DNS network rieng de goi duoc ten
  postgres: